.gitignore
.dockerignore

resources/
.github/

**/*.env
**/*.pyi
**/*.md
**/*.pyc
**/Dockerfile*
**/Makefile
**/stub.py

**/tmp/
**/tests/
**/typings/
**/migrations/
**/.vscode/
**/.venv/
**/.pytest_cache/
**/.ruff_cache/
**/compose*.yaml
