{
	order cache before rewrite
	cache
}

{$BACKEND_URL} {
	cache {
		allowed_http_verbs POST
		ttl 24h
		timeout {
			backend 1000s
		}
	}

	handle_path /api/* {
		reverse_proxy {$BACKEND_INTERNAL_URL}
	}
}
