services:
  redis:
    container_name: redis
    image: redis/redis-stack-server:latest
    volumes:
      - ./tmp/redis:/data
      - ./redis.conf:/redis-stack.conf
    healthcheck:
      test: ['CMD-SHELL', 'redis-cli -h localhost -p 6379 ping']
      interval: 5s

  caddy:
    container_name: caddy
    environment:
      BACKEND_URL: ${BACKEND_URL}:${BACKEND_PORT}
      BACKEND_INTERNAL_URL: backend:${BACKEND_PORT}
    image: caddy:alpine
    volumes: [./Caddyfile:/etc/caddy/Caddyfile]
    entrypoint: ["/bin/sh","-c"]
    ports:
      - '${BACKEND_PORT}:${BACKEND_PORT}'
      - 80:80
    command:
      - |
        caddy fmt --overwrite /etc/caddy/Caddyfile
        caddy run --config /etc/caddy/Caddyfile --adapter caddyfile

  backend:
    container_name: backend
    environment:
      REDIS_URL: redis://redis:6379
      BACKEND_PORT: ${BACKEND_PORT}
      CT2_USE_EXPERIMENTAL_PACKED_GEMM: ${CT2_USE_EXPERIMENTAL_PACKED_GEMM}
      OMP_NUM_THREADS: ${OMP_NUM_THREADS}
    volumes:
      - ./tmp/backend/huggingface:/home/user/.cache/huggingface/hub
      - ./tmp/backend/torch:/home/user/.cache/torch
      - ./tmp/backend/nltk:/home/user/.cache/nltk
    build:
      context: .
      dockerfile: Dockerfile.backend
    depends_on:
      redis:
        condition: service_healthy
