[tool.pylint.format]
good-names = ['x', 'y', 'z', 'i', 'id', 'ok']

[tool.pylint.messages_control]
disable = [
    'missing-module-docstring',
    'no-name-in-module',
    'useless-import-alias',
    'line-too-long',
    'too-many-arguments',
    'too-few-public-methods',
    'too-many-instance-attributes',
]

[tool.ruff]
ignore = ['E501']

[tool.pyright]
stubPath = 'server/typings'
reportUnknownVariableType = false
reportUnknownMemberType = false
reportMissingTypeStubs = false

[tool.pytest.ini_options]
pythonpath = ["."]

[tool.poetry]
name = "Examplify"
version = "0.1.0"
description = ""
authors = ["winstxnhdw <you@example.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
fastapi = "^0.103.1"
python-multipart = "^0.0.6"
hypercorn = "^0.14.4"
uvloop = "^0.17.0"
httpx = "^0.25.0"
ctranslate2 = "^3.20.0"
sentencepiece = "^0.1.99"
sentence-transformers = "^2.2.2"
protobuf = "^4.24.4"
llama-index = "^0.8.37"
pymupdf = "^1.23.4"

[tool.poetry.group.special.dependencies]
transformers = { git = "https://github.com/huggingface/transformers.git", rev = "main" }
redis = { extras = ["hiredis"], version = "^5.0.1" }
torch = "2.0.0"

[tool.poetry.group.dev.dependencies]
pyright = "^1.1.328"
pylint = "^3.0.0"
pytest = "^7.4.2"
ruff = "^0.0.292"
