[tool.pylint.format]
good-names = ['x', 'y', 'z', 'i', 'id', 'ok']

[tool.pylint.messages_control]
disable = [
    'missing-module-docstring',
    'no-name-in-module',
    'useless-import-alias',
    'line-too-long',
    'too-many-arguments',
    'too-few-public-methods',
    'too-many-instance-attributes',
]

[tool.ruff]
ignore = ['E501']

[tool.pyright]
stubPath = 'server/typings'
reportUnknownVariableType = false
reportUnknownMemberType = false
reportMissingTypeStubs = false

[tool.pytest.ini_options]
pythonpath = ["."]

[tool.poetry]
name = "Examplify"
version = "0.1.0"
description = ""
authors = ["winstxnhdw <you@example.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
fastapi = "^0.104.1"
python-multipart = "^0.0.6"
pydantic-settings = "^2.1.0"
hypercorn = "^0.15.0"
uvloop = "^0.19.0"
httpx = "^0.25.1"
ctranslate2 = "^3.22.0"
transformers = "^4.35.2"
sentencepiece = "^0.1.99"
sentence-transformers = "^2.2.2"
protobuf = "^4.25.1"
pymupdf = "^1.23.6"
redis = "^5.0.1"
hiredis = "^2.2.3"
tesserocr = "^2.6.2"
torch = "^2.1.1"

[tool.poetry.group.dev.dependencies]
pyright = "^1.1.337"
pylint = { git = "https://github.com/pylint-dev/pylint.git" }
pytest = "^7.4.3"
ruff = "^0.1.6"
